body{
    margin: 0rem;
    z-index: 0;

    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*narandzasti p-ovi*/
.detalji_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

@media (max-width: 768px){
    .detalji_div{
        flex-direction: row;
    }

    .detalji_div p{
        width: 100%;
    }
}

button{
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;

    border-radius: 0.3rem;
}

input, div, h1, h2, h3, p, a{
    border-radius: 0.3rem;
}

#ime_rest{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 1rem;
}

@media (max-width: 768px){
    #ime_rest h1{
        font-size: 1rem;
    }

    #ime_rest p{
        display: none;
    }
}

#ime_rest p{
    opacity: 50%;
}

nav{
    position: fixed;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 100%;

    padding-top: 1rem;
    padding-bottom: 1rem;

    gap: 20rem;

    color: white;
    background-color: rgb(0, 0, 0);

    height: 5vh;
}

@media (max-width: 768px){
    nav{
        gap: 1rem;
        text-align: center;
        justify-content: center;
        height: auto;
    }
}

nav h1{
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

#dugmad_nav{
    display: flex;
    gap: 1rem;
}

#dugmad_nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#dugmad_nav div a{
    text-decoration: none;
    color: black;
}

.nav_dugmad button, a{
    padding: 0.5rem;
    border: none;
}

@media (max-width: 768px){
    .nav_dugmad img{
        display: none;
    }
}

#HERO{
    height: 100vh;
    background-size: cover;
    background-attachment: scroll;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;

    border-radius: 0rem;
}

@media (max-width: 768px){
    #HERO h1{
        font-size: 2rem;
        text-align: center;
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

#HERO p{
    width: 60%;
    text-align: center;
    font-size: 1.2rem;
}

@media (max-width: 768px){
    #HERO p{
        font-size: 0.8rem;
        width: 70%;
    }
}

#dugmad_hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#ime_sekcije{
    margin-left: 3rem;
    margin-right: 3rem;
}

@media (max-width: 768px){
    #ime_sekcije{
        text-align: center;
        font-size: 2rem;
    }
}

.info_o_restoranu{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

    gap: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

@media (max-width: 768xp){
    .info_o_restoranu{
        align-items: center;
        flex-wrap: wrap;
    }
}

.info_o_restoranu img{
    width: 60vw;
    border-radius: 0.5rem;
}

@media (max-width: 768px){
    .info_o_restoranu img{
        display: none;
    }
}

.info_o_restoranu p{
    text-align: justify;
    font-size: 1.3rem;
    line-height: 2rem;

    opacity: 70%;
}

@media (max-width: 768px){
    .info_o_restoranu p{
        font-size: 1rem;
    }
}

.tekst_dugme{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#oceni{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;

    padding: 0.5rem;
    border: 1px solid rgba(128, 128, 128, 0.355);
    background-color: #3d6eaf;
    color: white;

    font-size: 1rem;
}

#oceni img{
    width: 1rem;
}

.dugmad_info_o_res{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

#filteri{
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    gap: 1rem;
}

.OBROCI{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    margin-left: 3rem;
    margin-right: 3rem;

    z-index: 0;
}

@media (max-width: 768px){
    .OBROCI{
        gap: 1rem;
        justify-content: center;
        align-items: center;

        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media (max-width: 768px){
    .OBROCI{
        justify-content: center;
    }
}

.dostupnost{
    position: absolute;
    z-index: 2;

    display: flex;
    align-items: flex-start;

    background-color: #277e27ea;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;

    margin-right: 13rem;
}

@media (max-width: 768px){
    .dostupnost{
        margin-right: 2rem;

        padding: 0.5rem;
        text-align: center;

        font-size: 0.5rem;
    }
}

.obrok{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background-color: #f8f8f85e;
    width: 30%;

    gap: 0.5rem;
    height: 42vh;

    border: 1px solid rgba(128, 128, 128, 0.079);
    box-shadow: 8px 8px 8px rgba(141, 141, 141, 0.251);

    z-index: inherit;
}

.obrok:hover{
    transform: translateY(-5px);
    transition: 0.2s ease-out;
}

@media (max-width: 768px){
    .obrok{
        width: 42%;
        height: 45vh;
    }

    .obrok button{
        font-size: 1rem;
    }
}

.ime_cena{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;

    width: 80%;
}

.ime_cena h3{
    font-size: 1rem;
    max-width: 60%;
}

.ime_cena p{
    font-size: 1.2rem;
    font-weight: bold;
}

.obrok button{
    background-color: #3d6eaf;
    color: white;
    padding: 0.5rem;
    border: none;

    font-size: 1rem;
}

.obrok h3{
    text-align: center;
}

@media (max-width: 768px){
    .obrok h3{
        font-size: 0.8rem;
    }

    .obrok button{
        font-size: 0.6rem;
    }
}

.obrok p{
    text-align: center;
}

@media (max-width: 768px){
    .obrok p{
        font-size: 0.8rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.obrok img{
    width: 100%;
    height: 50%;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

@media (max-width: 768px){
    .obrok img{
        height: 40%;
    }
}

.kolicina{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}

.kolicina input{
    border: none;
    padding: 0.5rem;

    border: 1px solid rgba(128, 128, 128, 0.355);
    width: 5rem;
}

@media (max-width: 768px){
    .kolicina{
        flex-direction: row;
    }

    .kolicina input{
        border: none;
        padding: 0.3rem;

        border: 1px solid rgba(128, 128, 128, 0.355);
        width: 3rem;

        text-align: center;
    }
}

#unos_recenzije{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-left: 3rem;
    margin-right: 3rem;

    gap: 1rem;
}

@media (max-width: 768px){
    #unos_recenzije{
        flex-direction: column;
    }
}

#unos_recenzije input, button{
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid rgba(128, 128, 128, 0.355);
    background-color: rgba(255, 255, 255, 0.817);
}

#recenzije{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    height: 20vh;
    padding: 1rem;

    margin-left: 3rem;
    margin-right: 3rem;

    font-size: 1.5rem;

    border-radius: 0.5rem;
    border: 1px solid #8080805b;

    overflow-y: scroll;

    background-color: rgba(255, 255, 255, 0.817);;
}

@media (max-width: 768px){
    #recenzije{
        font-size: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

#OCENA{
    background-image: url("OCENA.png");
    padding: 2rem;
    color: white;
}

#rec_button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
    background-color: black;

    padding: 0.5rem;
}

#footer_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

@media (max-width: 768px){
    #footer_info{
        display: none;
    }
}

/*******************************************************/
/*******************************************************/
/*******************************************************/

#KORPA{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media(max-width: 768px){
    #KORPA{
        flex-direction: column;
        gap: 5rem;
    }
}

#PRVI_DEO{
    padding-top: 1rem;

    width: 50vw;
    height: 100vh;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    border-right: 1px solid rgba(128, 128, 128, 0.355);

    overflow: scroll;
}

@media (max-width: 768px){
    #PRVI_DEO{
        justify-content: flex-start;
        align-items: flex-start;
        width: 100vw;
        height: 60vh;
    }
}

#DRUGI_DEO{
    padding-top: 1rem;

    width: 50vw;
    height: 100vh;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    padding-bottom: 1rem;
}

@media (max-width: 768px){
    #DRUGI_DEO{
        justify-content: center;
        align-items: flex-start;
        width: 100vw;

        padding-bottom: 1rem;
        padding-top: 4rem;
    }
}

#opis_sekcije{
    margin-left: 3rem;
    margin-right: 3rem;
}

#ime_pod_sekcije{
    margin-left: 3rem;
    margin-right: 3rem;
}

#KORPA_SADRZAJ{
    margin-left: 3rem;
    margin-right: 3rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 768px){
    #KORPA_SADRZAJ{
        align-items: flex-start;
    }
}

#KORPA_SADRZAJ a{
    text-decoration: none;
    background-color: #3d6eaf;
    color: white;
    padding: 0.5rem;
    border: none;

    font-size: 1rem;
}

#prazna{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.proizvod{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;

    gap: 1rem;

    background-color: #f8f8f8;

    padding: 1rem;

    border: 1px solid rgba(128, 128, 128, 0.355);

    width: 35vw;
}

@media (max-width: 768px){
    .proizvod{
        width: 100%;
        justify-content: flex-start;
    }
}

#poruka{
    padding: 0.5rem;
    border: none;
    border: 1px solid rgba(128, 128, 128, 0.355);

    width: 40%;
    margin-left: 3rem;
}

.proizvod img{
    width: 4rem;
}


#odabir{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-left: 3rem;
    gap: 1rem;
}

#odabir button{
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid rgba(128, 128, 128, 0.355);
    background-color: #cdcdcd5b;
}

#cena_preuzimanja{
    margin-left: 3rem;
}

form{
    margin-left: 3rem;
    gap: 1rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#dostava input{
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid rgba(128, 128, 128, 0.355);
}

#potvrda_dostava{
    margin-left: 3rem;
    padding: 0.5rem;
    border: 1px solid rgba(128, 128, 128, 0.355);
    background-color: #cdcdcd5b;
}

#vreme{
    margin-left: 3rem;
}

#placanje_info{
    margin-left: 3rem;
}

#placanje_info p{
    background-color: green;
    width: 90%;
    padding: 0.5rem;
    text-align: center;
    color: white;

    font-size: 1.2rem;
}

#plati{
    margin-left: 3rem;

    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid rgba(128, 128, 128, 0.355);

    background-color: #3d6eaf;
    color: white;
}

/*******************************************************/
/*******************************************************/
/*******************************************************/

#LISTA_JELA_DIV_ROD{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 2;

    width: 100vw;
    height: 100vh;
}

#LISTA_JELA_DIV{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 2;

    gap: 0.5rem;

    position: relative;

    background-color: #f8f8f8;
    padding: 2rem;

    width: 40vw;
    height: 60vh;

    overflow-y: scroll;
}

@media (max-width: 768px){
    #LISTA_JELA_DIV{
        width: 75vw;
        height: 50vh;
    }
}

#LISTA_JELA_DIV input{
    padding: 0.5rem;
    border: 1px solid rgba(128, 128, 128, 0.355);
}

.lista_jela_p{
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.355);
    padding: 0.5rem;
}

#lista_jela{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#dugmad_jela{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

#ADMIN_DIV{
    background-color: black;
    color: white;
    padding-top: 1rem;
    border-radius: 0rem;
}

#dugmad{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#dugmad button{
    height: 3rem;
}

#dugmad button:hover{
    transform: translateY(-5px);
    transition: 0.2s ease-out;
}

@media (max-width: 768px){
    #dugmad{
        flex-direction: column;
        align-items: flex-start;
    }
}

#dugmad #sifra, #kontakt_za_brisanje, #gotova_porudzbina_dugme, #obrisi_po_broju{
    padding: 0.5rem;
    border: 1px solid rgba(128, 128, 128, 0.355);

    height: 1.92rem;
}

#zarada{
    background-color: green;

    font-size: 1.5rem;
    text-align: center;
    margin-left: 3rem;
    padding: 0.5rem;
    max-width: 10rem;
    border-radius: 0.5rem;
}

#dugmad button{
    font-size: 1rem;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 1rem;

    padding-left: 1rem;
    padding-right: 1rem;
}

#dugmad button img{
    width: 1.5rem;
}

#pauza{
    background-color: #5f83b1;
    color: white;
}

#zaustavi{
    background-color: red;
    color: white;
    padding: 0rem;
}

#pokreni, #izmeni{
    background-color: #3d6eaf;
    color: white;
    padding: 0rem;
}

#PORUDZBINE{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    gap: 1rem;

    margin-left: 3rem;
    margin-right: 3rem;
}

.korpa_admin{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5rem;
}